Chapter44Code/RoomReservation/RoomReservationClient/Connected Services/ServiceRef/RoomReservation2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RoomReservationContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RoomReservationContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RoomReservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RoomName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomReservation" nillable="true" type="tns:RoomReservation" />
  <xs:complexType name="RoomReservationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomReservationFault" nillable="true" type="tns:RoomReservationFault" />
  <xs:complexType name="ArrayOfRoomReservation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomReservation" nillable="true" type="tns:RoomReservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomReservation" nillable="true" type="tns:ArrayOfRoomReservation" />
</xs:schema>